name: Test
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 22 ]

    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install yarn & install dependencies
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      - name: Dependency cruise thresholds
        uses: borales/actions-yarn@v4
        with:
          cmd: depcruise:check
      - name: Test
        uses: borales/actions-yarn@v4
        with:
          cmd: test:coverage
      - name: Report Coverage
        if: always() # Also generate the report if tests are failing
        uses: davelosert/vitest-coverage-report-action@v2
